#gallery {
	background-color: #333856;
}

#message {
	resize: none;
}

#logo-wrapper {
	display: flex;
	align-items: center;
	border: unset;
}

#logo-wrapper:hover #logo-text {
	background: #9bf1ff;
}

#logo-text {
	padding: 0px 4px;
	margin-left: 10px;
	letter-spacing: 3px;
	font-weight: 600;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.65em;
	background: white;
	color: #2e3450;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

/* MENU */
.menu-wrapper {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 99999999999;
	padding: 0 24px;
}

.menu-items {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 0;
}

@media screen and (max-width: 980px) {
	.menu-wrapper {
		padding: 0 3em;
		width: 100%;
	}
}

@media screen and (max-width: 736px) {
	.menu-wrapper {
		padding: 0 1.5em;
	}
}

#menu-bars-wrapper {
	display: flex;
	align-items: center;
	gap: 20px;
	box-shadow: unset;
}

#menu-bars-text {
	letter-spacing: 3px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

/* * {
	outline: 1px solid red !important;
	background-color: rgba(255, 0, 0, 0.1) !important;
} */
